---
import { ROUTER } from "../../../pages/router";
import Surf from "../../links/Surf/Surf.astro";
import Logo from "../../logos/Logo/Logo.astro";
---

<header>
  <Logo />
  <nav>
    <a>Trabajos</a>
    <a>Cotizar</a>
    <Surf href={ROUTER.herramientas.href}>{ROUTER.herramientas.display}</Surf>
  </nav>
</header>

<style>
  header {
    padding: var(--md) var(--xl);
    border-bottom: var(--border);

    display: grid;
    grid-template-columns: auto 1fr;

    @media (max-width: 767px) {
      padding: var(--md);
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--xl);

      a {
        color: inherit;
        &:hover {
          color: var(--secondary);
        }
      }
    }
  }
</style>
