---
import { ROUTER } from "../../../pages/router";
import Link from "../../links/Link/Link.astro";

const { pathname } = Astro.url;
---

<header>
  <nav>
    <Link href={ROUTER.index.href}>{ROUTER.index.display}</Link>
    {pathname === "/" && <a href="#projects">proyectos</a>}
    <Link href={ROUTER.herramientas.href}>{ROUTER.herramientas.display}</Link>
  </nav>
</header>

<style>
  header {
    border-bottom: var(--border);
    min-height: 81px;
    padding-left: var(--xl);

    display: grid;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--xl);

      @media (min-width: 320px) and (max-width: 767px) {
        gap: var(--lg);
      }

      a {
        color: inherit;
        text-transform: capitalize;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
</style>
