---
import Btn from "../../../buttons/Btn/Btn.astro";
import Network from "../../../navs/Network/Network.astro";
---

<article>
  <div class="container scale-up-center">
    <Network />
    <div>
      <h1>Edwin Ortiz</h1>
      <h2>Desarrollador Web</h2>
    </div>
    <p class="quote">Enfocado en la calidad y compromiso con cada proyecto.</p>
    <a href="/cv.pdf" target="_blank" rel="noopener noreferrer"
      ><Btn>Currículum</Btn></a
    >
  </div>
</article>

<style>
  article {
    height: calc(100dvh - 81px);
    text-align: center;

    display: grid;
    place-content: center;

    .container {
      display: grid;
      gap: var(--lg);
      justify-items: center;

      h1 {
        font-size: 4.5rem;
        line-height: 70%;
      }

      h2 {
        text-align: center;
        font-size: 2rem;
      }

      .quote {
        background: linear-gradient(45deg, var(--primary), var(--secondary));
        -webkit-background-clip: text; /* Aplica el gradiente solo al texto */
        -webkit-text-fill-color: transparent; /* Hace transparente el relleno */
      }
    }
  }
</style>
