---
import Card from "./Card/Card.astro";
import { EXPERIENCES } from "./experiences";
---

<div class="exp">
  <h3>Experiencia</h3>

  {EXPERIENCES.map((item) => <Card {...item} />)}
</div>

<style>
  .exp {
    display: grid;
    gap: var(--lg);
    padding: var(--xl);
    border-right: var(--border);

    @media (max-width: 680px) {
      border-right: 0;
      border-bottom: var(--border);
    }
  }
</style>
