:root {
  --bg-main: whitesmoke; /* Fondo Principal */
  --bg-surf: #ccc; /* Superficie */
  --primary: red; /* Primario */
  --secondary: #272320; /* Secundario */
  --titles: #fff; /* Texto Principal */
  --paras: #fff; /* Texto Secundario */
  --hl: #ffbc42; /* Resaltado */
  --accent: #dd4ea5; /* Acento */
  --hover: #3c91e6; /* Hover */

  /* Common */
  --blue: #0066cc;
  --red: #ca1a14;
  --green: #8c9900;
  --grey: #9d9d9d;
  --black: black;
  --white: whitesmoke;
}
