---
import type { HTMLAttributes } from "astro/types";
import curriculum from "./curriculum.pdf";

interface Props extends HTMLAttributes<"a"> {}

const { class: cls, ...rest } = Astro.props;
---

<a
  {...rest}
  target="_blank"
  rel="noreferrer"
  href={curriculum}
  class:list={[cls]}
>
  Curriculum
</a>

<style>
  a {
    color: var(--white);
    border-radius: var(--sm);
    background-color: var(--bg-surf);
    padding: var(--md) var(--xl);

    display: flex;
    align-items: center;
    min-height: var(--h-inputs);

    white-space: nowrap; /* Evita que el texto haga varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra los "..." cuando el texto se corta */

    &:active {
      transform: scale(0.95);
    }
  }
</style>
