---
import LinkOut from "../../../components/links/LinkOut/LinkOut.astro";
---

<div class="edu">
  <h3>Educación</h3>

  <div>
    <p>
      Actualmente cursando 6º semestre de Ingeniería de Sistemas. <LinkOut
        href={"https://cecar.edu.co/"}>Cecar</LinkOut
      >
    </p>

    <p>
      Simulación laboral en No-Country. <LinkOut
        href={"https://edard3v.pages.dev/no_country_certificate.avif"}>No-Country</LinkOut
      >
    </p>

    <p>
      Bootcamp 800 horas teórico-practica. <LinkOut
        href={"https://edard3v.pages.dev/henry_certificate.avif"}>Henry</LinkOut
      >
    </p>

    <p>
      Academia DevTalles Curso-Astro <LinkOut
        href={"https://cursos.devtalles.com/certificates/cdnrrgsaq8"}>DevTalles</LinkOut
      >
    </p>
  </div>
</div>

<style>
  .edu {
    display: grid;
    gap: var(--lg);
    align-content: start;
    padding: var(--xl);

    div {
      display: grid;
      gap: var(--md);
    }
  }
</style>
