---
import Layout from "../layouts/Layout/Layout.astro";
import Banner from "../views/index/Banner/Banner.astro";
import Education from "../views/index/Education/Education.astro";
import Experience from "../views/index/Experience/Experience.astro";
import Projects from "../views/index/Projects/Projects.astro";
import Skills from "../views/index/Skills/Skills.astro";
---

<Layout title="edard3v">
  <main>
    <Banner />
    <div class="exp-edu">
      <Experience />
      <Education />
    </div>
    <Projects />
    <Skills />
  </main>
</Layout>

<style>
  main {
    padding: var(--xl);
    display: grid;
    gap: var(--xl);

    .exp-edu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      border: var(--border);
    }
  }
</style>
