---
import Banner from "../components/views/index/Banner/Banner.astro";
import Experience from "../components/views/index/Experience/Experience.astro";
import Layout from "../layouts/Layout/Layout.astro";
---

<Layout title="edarcode">
  <main>
    <Banner />
    <Experience />
  </main>
</Layout>
