---
interface Props {
  title: string;
  date: string;
  content: string;
}

const { title, content, date } = Astro.props;
---

<article>
  <div>
    <h4>{title}</h4>
    <div class="date">{date}</div>
  </div>
  <p>{content}</p>
</article>

<style>
  article {
    display: grid;
    gap: var(--md);

    .date {
      color: var(--hl);
      font-size: 0.9rem;
    }
  }
</style>
